body{
    display: grid;
    background-color: aqua;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}

@media screen and (min-width:768px) and (max-width:992px) {
    body{
        grid-template-columns: repeat(2,1fr);
        background-color: black;
    }
}

@media screen and (min-width:992px) and (max-width:1024px) {
    body{
        grid-template-columns: repeat(3,1fr);
        background-color: blue;
    }
}

@media screen and (min-width:1024px){
body{
    grid-template-columns: repeat(4,1fr);
    background-color: aquamarine;
}
}
    